Api.Service/obj/
Api.Service/bin/
Api.Domain/Security/
Api.Domain/obj/
Api.Data/Context/
Api.Data/Migrations/
Api.Data/obj/
Api.Application/appsettings.Development.json
Api.Application/appsettings.json
Api.Application/obj/
Api.Application/bin/
Api.Aplication.Test/UnitTest1.cs
Api.Aplication.Test/Usings.cs
Api.Aplication.Test/bin/
Api.CrossCuting/obj/
Api.CrossCuting/bin/
Api.Aplication.Test/
Api.Data.Test/
Api.Integration.Test/
Api.Service.Test/
Api.sln
